// Place all the styles related to the bence controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.description{
  position: absolute;
  top: 67px;
  right: 70px;
  line-height: 1.2em;
  font-size: 1.2em;
  text-align: justify;
  width: 50%;
  background-color: rgba(211, 211, 211, 0.7);

  padding: 30px;
}
