<!-- <div class="headlines">
  <h1><%# @bence.name %></h1>
</div> -->
<div class="description">
  <%= @bence.description %>
  <div class="profile-mods">
    <%= link_to "Edit profile", edit_bence_path(1) %>
  </div>
</div>
